<!-- templates/components/book-item.hbs -->
{{#link-to 'books.book' book.id}}
  <img class="book-cover" src="{{book.coverImage}}">
{{/link-to}}

<div>
  {{star-rating item=book rating=book.rating on-click=(action "setRating") maxRating=5}}
</div>
